redshift-run-query-byparam.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "ExecuteStatement",
  "States": {
    "ExecuteStatement": {
      "Type": "Task",
      "Parameters": {
        "Database.$": "$.rs_database",
        "Sql.$": "$.rs_sql_statement",
        "DbUser.$": "$.rs_user",
        "ClusterIdentifier.$": "$.rs_cluster_ident"
      },
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "DescribeStatement"
    },
    "DescribeStatement": {
      "Type": "Task",
      "Parameters": {
        "Id.$": "$.Id"
      },
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Status",
          "StringEquals": "FINISHED",
          "Next": "Log Success"
        },
        {
          "Or": [
            {
              "Variable": "$.Status",
              "StringEquals": "ABORTED"
            },
            {
              "Variable": "$.Status",
              "StringEquals": "FAILED"
            }
          ],
          "Next": "Log Error"
        }
      ],
      "Default": "Wait"
    },
    "Log Success": {
      "Type": "Pass",
      "Next": "Success"
    },
    "Log Error": {
      "Type": "Pass",
      "Next": "Fail",
      "OutputPath": "$.Error"
    },
    "Fail": {
      "Type": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}