step-functions/redshift-run-ELT-workflow.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Generate Execution ID",
  "States": {
    "Generate Execution ID": {
      "Type": "Pass",
      "Next": "Parallel",
      "Comment": "Unique execution ID based on date-hour is generated",
      "Result": {
        "rs_database": "dev",
        "rs_user": "awsuser",
        "rs_cluster_ident": "consumercluster-xxxxxxxxx"
      }
    },
    "Parallel": {
      "Type": "Parallel",
      "Next": "Create Datamart",
      "Branches": [
        {
          "StartAt": "Repopulate Product Reference Table",
          "States": {
            "Repopulate Product Reference Table": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:[ACCOUNT-NUMBER]:stateMachine:redshift-run-query-byparam",
                "Input": {
                  "rs_database.$": "$.rs_database",
                  "rs_sql_statement": "begin transaction; create temp table master_product_tmp as select distinct kodeprod,klasprod,prodname,namaklasprod from klb_rs.sales_consolidate; delete from klb_rs.master_product using master_product_tmp where master_product_tmp.kodeprod = master_product.kodeprod; insert into klb_rs.master_product select * from master_product_tmp; end transaction;",
                  "rs_user.$": "$.rs_user",
                  "rs_cluster_ident.$": "$.rs_cluster_ident",
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Repopulate Distributor Reference Table",
          "States": {
            "Repopulate Distributor Reference Table": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "Repopulate Supplier Reference Table",
          "States": {
            "Repopulate Supplier Reference Table": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "Repopulate Branch Reference Table",
          "States": {
            "Repopulate Branch Reference Table": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:[ACCOUNT-NUMBER]:stateMachine:redshift-run-query-byparam",
                "Input": {
                  "rs_database.$": "$.rs_database",
                  "rs_sql_statement": "begin transaction; create temp table master_branch_tmp as select distinct kodecab,namacab from klb_rs.sales_consolidate; delete from klb_rs.master_branch using master_branch_tmp where master_branch_tmp.kodecab = master_branch.kodecab; insert into klb_rs.master_branch select * from master_branch_tmp; end transaction;",
                  "rs_user.$": "$.rs_user",
                  "rs_cluster_ident.$": "$.rs_cluster_ident",
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                }
              },
              "End": true
            }
          }
        }
      ]
    },
    "Create Datamart": {
      "Type": "Pass",
      "Next": "Log Workflow Completion"
    },
    "Log Workflow Completion": {
      "Type": "Pass",
      "End": true
    }
  }
}
